---
import { getCollection } from 'astro:content';
import BasicLayout from "../../layouts/BasicLayout.astro";
import PostPreview from "../../components/PostPreview.astro";

const posts = (await getCollection('posts')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<BasicLayout title="Blog Post Overview" description="An overview of all blog posts">
	<section>
		<div>
			{posts.map((post) => <PostPreview post={post} showNewBadge={post.data.title === posts[0].data.title} />)}
		</div>
	</section>
</BasicLayout>
